html, body, #root {
    height: 100%;
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family:'Nunito Sans';
  }
  
.app{
    margin: 0;
    padding: 0;
    height:100%;
    width: 100%;
}

.car-container{
    height:20%;
    width:500%;
    position:relative;
    background-repeat: repeat-x;
}

.car-ctr{
    position: absolute;
    bottom:100px;
}

.hover-active:hover,
.hover-active:active {
  transform: scale(1.2);
}